.education-sc{

    .education-content {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .edu-title{
        margin-bottom: 3px;
        gap: 10px;
        padding: 0px 0px 0px 16px;
      
    }
    .edu-icon{
        width: 20px;
        height: auto;
    }

    .education-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 12px;
        column-gap: 50px;
        padding: 20px 0;

        @media(max-width: 992px){
            grid-template-columns: repeat(1, 1fr);
            column-gap: 20px;
        }

        @media(max-width: 576px){
            grid-template-columns: 100%;
        }
    }

    .education-item{
        justify-content: center;
        align-content: center;
        padding: 20px;
        height: 150px;
        width: auto;
        max-width: 350px;
        background-color: rgb(32, 34, 38, 0.85);
        border-radius: 8px;
        animation: glow-animation 3s infinite alternate ease-in-out;

        @media(max-width: 992px){
            margin: 10px;

        }

        @media(max-width: 576px){
            padding: 10px 0;
        }

        @keyframes glow-animation {
            0% {
                border: none;
              border-color: transparent;
              box-shadow: 0 0 2.5px 2.5px #6225E6;
            }

            100% {
                border: none;
              border-color: transparent;
              box-shadow: 0 0 5px 5px #6225E6;
            }
          }

      
    }

    .begin {

        @media(max-width: 920px){
            margin-top: 10%;
        }
    }


    .middle {

        margin-top: 25%;
        @media(max-width: 920px){
            margin-top: 10%;
        }
    }

    .end {
        @media(max-width: 920px){
            margin-top: 5%;
        }
    }

    .edu-course{
        font-weight: 600;
        font-size: 18px;
        color: #fff;

        @media(max-width: 1080px){
            font-size: 15px;
        }
    }
    .edu-info{
        margin-left: 20px;
        font-size: .95em;
        word-break:normal;
        @media(max-width: 1080px){
            font-size: 12px;
        }
    }

    #box{
        position: relative;
    }

    .line{
        position: absolute;
    }
}
